<%= render 'shared/pagetitle', title: "#{@user.username.capitalize}'s Profile" %>

<div class="row">
  
  <div class="col-md-4 col-md-offset-4 center">
    <% if @user.profileimage? %>
                <%= link_to image_tag(@user.profileimage), user_path(@user),  class: "indexprofile" %>
            <% else %>
                <%= image_tag "user-default.png", class: "showprofile" %>
            <% end %>  
            

  </div>
</div> <!-- row end -->

<div> 
<h4 align="center"> <%= @user.username.capitalize %>'s Goals</h4>
  <% if @user.goals.any? %>
  <%= render 'goals/goal', obj: @user.goals %>
<% else %>
  <h4 align="center"><%= @user.username.capitalize %> doesn't have any goals yet! </h4>
<% end %>
</div>    
