<% obj.each do |goal| %>
<div class = "row">
  <div class="col-md-2"> 
  <section class="user_info_center">
  <%= link_to gravatar_for(goal.user, size:120) %>
  <section> </div>
  
  <div class="col-md-8 well"> <br>
    <h4>Goal Name: <%= link_to goal.name, goal_path(goal) %></h4><br>
    <h4>Goal Description:<%= truncate(goal.description, length: 100) %></h4><br>
    <% if goal.categories.any? %>
    <p> Categories: <%= render goal.categories %> </p>
    <% end %>
    
    <p> <span class="quiet"> <small>Created: <%= time_ago_in_words(goal.created_at) %> ago by: 
    <%= link_to  goal.user.username.capitalize, user_path(goal.user) %></span></p></small> <hr>
    <% if logged_in? && current_user == goal.user || current_user && current_user.admin?  %>
          <%= link_to "Edit this goal", edit_goal_path(goal), class: "btn btn-xs btn-default" %>
          <%= link_to "Delete this goal", goal_path(goal), method: :delete,
          data: { confirm: "Are you sure you want to delete this goal?" }, class: "btn btn-xs btn-danger" %> 
     <% end %>   
  </div>
</div><!-- end row -->
<% end %>