<%= render 'shared/pagetitle', title: "Create a new Goal" %>

<% if @goal.errors.any? %>
<div class= "row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= pluralize(@goal.errors.count, "error") %>
          prohibited this <%= @goal.class %> from being saved:
        </h2>
      <div class="panel-body">
        <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>

  
 

<div class="row">
  <div class="col-md-12">
    <%= form_for(@goal, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of goal",  autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 10, class: "form-control",placeholder: "Enter steps to create goal" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to goals listing",  goals_path %> ]
    </div>
  </div>
</div>