<%= render 'shared/pagetitle', title: @goal.name %>

<div class="well col-md-8 col-md-offset-2">
  
  <h4 class="center description"><strong> Description: </strong> </h4>
  <%= simple_format(@goal.description) %>
  
  <hr>
  <div class="pull-right">
  <p class="center">   <em> Created by:</em>
  <%= link_to gravatar_for(@goal.user), goals_path %>
  </p>
  <p class="center">
        <small><%= @goal.user.username.capitalize %></small>
    </p>
    <div class="pull-right">created: <%= time_ago_in_words(@goal.created_at) %> ago</div>
    <div class="goal-actions">
      <%= link_to "Edit this goal", edit_goal_path(@goal), class: "btn btn-xs btn-default" %></div>
      <%= link_to "Delete this goal", goal_path(@goal), method: :delete,
      data: { confirm: "Are you sure you want to delete this goal?" }, class: "btn btn-xs btn-danger" %> </div>


  
</div>