<%= render 'shared/pagetitle', title: @goal.name %>

<div class="well col-md-8 col-md-offset-2">
  
  <h4 class="center description"><strong> Description: </strong> </h4>
  <%= simple_format(@goal.description) %>
  
  <hr>
  <div class="pull-right">
  <p class="center">   <em> Created by:</em>
  <%= link_to gravatar_for(@goal.user), user_path(@goal.user) %>
  </p>
  <p class="center">
        <small><%= @goal.user.username.capitalize %></small>
    </p>
    <div class="pull-right">created: <%= time_ago_in_words(@goal.created_at) %> ago</div>
    <div class="goal-actions">
      <% if logged_in? && current_user == @goal.user || current_user && current_user.admin? %>
          <%= link_to "Edit this goal", edit_goal_path(@goal), class: "btn btn-xs btn-default" %>
          <%= link_to "Delete this goal", goal_path(@goal), method: :delete,
          data: { confirm: "Are you sure you want to delete this goal?" }, class: "btn btn-xs btn-danger" %> 
     <% end %>   

     <%= link_to "Return to all Goals", goals_path, class: "btn btn-xs btn-primary" %>

      
    </div>
</div>

