<%= render 'shared/pagetitle', title: @goal.name %>

<div class="well col-md-10 col-md-offset-1">
  
  <h4 class="center description"><strong> Description: </strong> </h4>
  <%= simple_format(@goal.description) %>
  
  <hr>
  <% if @goal.categories.any? %>
  <p> Categories: <%= render @goal.categories %></p>
  <% end %>
  <div class="pull-right">
  <p class="center">   <em> Created by:</em>
  <%= link_to gravatar_for(@goal.user), user_path(@goal.user) %>
  </p>
  <p class="center">
        <small><%= @goal.user.username.capitalize %></small>
    </p>
    <div class="pull-right">created: <%= time_ago_in_words(@goal.created_at) %> ago</div>
    <div class="goal-actions">
      <% if logged_in? && current_user == @goal.user || current_user && current_user.admin? %>
          <%= link_to "Edit this goal", edit_goal_path(@goal), class: "btn btn-xs btn-default" %>
          <%= link_to "Delete this goal", goal_path(@goal), method: :delete,
          data: { confirm: "Are you sure you want to delete this goal?" }, class: "btn btn-xs btn-danger" %> 
     <% end %>   

     <%= link_to "Return to all Goals", goals_path, class: "btn btn-xs btn-primary" %>

    </div>
</div>




<hr>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4> Add a new comment</h4>
      <hr>
      <%= form_for([@goal, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description %>
          </div>
          <div class="col-md-10">
            <%= f.text_area :description, rows: 10, class: "form-control",placeholder: "Enter your comment" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Add comment", class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
<% else %>
<p> You must be logged in to post a comment.</p>
<% end %>

<hr>




<div class="container comments">
  <% if @goal.comments != 0 %>
    <div class="row">
      <div class="col-md-10-col-offset-1">
        <h4>Comments:</h4>
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-10-col-offset-1">
        <h3> This goal has no comments yet</h3>
      </div>
  </div>
  <% end %>
</div>  